<div
  class="card m-3 px-3 py-5 lead text-center"
  [hidden]="LOGTRACK.role != ''"
>
  <span class="material-symbols-outlined key-icon">
    key
    </span>
  In order to see the projects available please log in. <br>
  To edit the projects available log as an administrator.
</div>

<div class="card m-3 p-3" [hidden]="LOGTRACK.role == ''">
  <!-- LOADING MESSAGE -->
  <div [hidden]="gatheredProjects != ''">
    <code> Retrieving the information from our Database... </code>
  </div>
  <!-- LOADING MESSAGE -->
  <!-- DISPLAY WHEN LOADED -->
  <div [hidden]="gatheredProjects == ''">
    <!-- Button trigger -ModalADD -->


    <div class="row mt-3 my-4"
    [hidden]="LOGTRACK.role != 'admin'">
      <div class="col d-flex align-items-end flex-column">
        <button
          type="button"
          class="btn btn-primary text-nowrap px-5"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
        >
          Add Project
        </button>
      </div>
      <div class="col d-flex align-items-start flex-column">
        <a href="#edit" class="">
          <button class="btn btn-secondary text-nowrap px-5">
            Edit Project</button>
        </a>
      </div>
    </div>




    <!--LISTPROJECTS-->
    <table class="table table-hover border-top">
      <thead>
        <tr class="rounded-top-3">
          <th scope="col">ID</th>
          <th scope="col">TITLE</th>
          <th scope="col">TECH</th>
          <th scope="col">LINK</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr
          *ngFor="let project of gatheredProjects"
          (click)="openInForm(project)"
          [class.table-active]="editFormModel == project"
        >
          <th scope="row">{{ project.id }}</th>
          <td>{{ project.title }}</td>
          <td>{{ project.tech }}</td>
          <td class="text-center">
            <a href="https://{{ project.link }}">•••</a>
          </td>
        </tr>
      </tbody>
    </table>

    <!--LISTPROJECTS-->

    <!-- ModalADD -->
    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Add a Project
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!--ADDFORM-->
            <form #addForm="ngForm" (ngSubmit)="addProject(addForm)">
              <div class="row mx-auto">
                <input
                  class="m-2 col mx-3"
                  type="text"
                  placeholder="Add project Title"
                  [(ngModel)]="addFormModel.title"
                  name="title"
                  required
                  #title="ngModel"
                />
                <input
                  class="m-2 col mx-3"
                  type="text"
                  placeholder="Add project Technology"
                  [(ngModel)]="addFormModel.tech"
                  name="tech"
                  #tech="ngModel"
                />
              </div>
              <div class="row mx-auto">
                <input
                  class="m-2 col mx-3"
                  type="url"
                  placeholder="Add project Link"
                  [(ngModel)]="addFormModel.link"
                  name="link"
                  required
                  #link="ngModel"
                />
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="title.invalid || tech.invalid || link.invalid"
                >
                  Apply
                </button>
              </div>
            </form>
            <!--ADDFORM-->
          </div>
        </div>
      </div>
    </div>
    <!--EDITFORM-->
    <form
    id="edit"
    #editForm="ngForm"
    (ngSubmit)="editProject(editForm)"
    [hidden]="LOGTRACK.role != 'admin'"
    >
      <div
      [hidden]="editForm.value.id !== ''"
      class="h5 my-5 mx-auto text-center"
      >
        Select from the list to edit.
      </div>
      <div
      class="card"
      [hidden]="editForm.value.id == ''"
      >
        <div class="row text-nowrap py-3">
          <div class="me-auto ms-3 my-2">
            <label class="col-form-label col-1 h6 text-center">ID</label>
            <input
            class="col-1 border border-secondary rounded-5 border-opacity-50 text-center"
            type="text"
            placeholder="ID"
            [(ngModel)]="editFormModel.id"
            name="id"
            #editId="ngModel"
            readonly
            />
          </div>
        </div>
        <div class="row px-4">
          <div class="col mx-auto">
            <label class="form-label h6">Title</label> <br/>
            <input
              type="text"
              class="form-control"
              placeholder="Title of project"
              [(ngModel)]="editFormModel.title"
              name="title"
              #editTitle="ngModel"
            />
          </div>
          <div class="col">
            <label class="form-label h6">Technologies</label> <br />
            <input
              type="text"
              class="form-control"
              placeholder="Technologies used"
              [(ngModel)]="editFormModel.tech"
              name="tech"
              #editTech="ngModel"
            />
          </div>
        </div>
        <div class="row px-5 py-4">
          <label class="form-label h6">Link</label> <br/>
          <input
            type="url"
            class="form-control"
            placeholder="Link to the Project"
            [(ngModel)]="editFormModel.link"
            name="link"
            required
            #editLink="ngModel"
          />
        </div>
        <button
          class="btn btn-secondary my-4 mx-auto col-11"
          type="submit"
          [disabled]="editTitle.invalid || editTech.invalid || editLink.invalid"
        >
          Apply Edition
        </button>
      </div>
    </form>
    <!--EDITFORM-->
    <!--DELETE-->
    <form id="dangerMenu" [hidden]="LOGTRACK.role != 'admin'">
      <div class="text-danger my-5">
        DANGER ZONE: Careful with the actions made in the following, they can't
        be undone.
      </div>
      <button class="btn btn-danger" (click)="deleteProject()">
        DELETE A PROJECT
      </button>
    </form>
  </div>
  <!-- DIPLAY WHEN LOADED -->
</div>
