<div id="hiddenMainMenu" class="hide mycontent">
    <div class="row border-top mt-4">
      <button
        class="btn btn-outline-dark col-3 mx-auto my-4 m-button m-button"
        type="submit"
        (click)="hideMainMenu(); hideAddMenu(); hideEditMenu()"
      >
        Hide Menu
      </button>
      <button
        class="btn btn-primary col-3 mx-auto my-4 m-button m-button"
        type="submit"
        (click)="blankForm(); hideEditMenu(); ShowAddMenu()"
      >
        Add a Project
      </button>
      <button
        class="btn btn-secondary col-3 mx-auto my-4 m-button m-button"
        type="submit"
        (click)="hideAddMenu(); ShowEditMenu()"
      >
        Edit a Project
      </button>
    </div>

    <app-addmenu ></app-addmenu>
    <app-editmenu></app-editmenu>
  </div>
