<h2 class="accordion-header" id="headingTwo">
  <button
    class="accordion-button collapsed"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#collapseTwo"
    aria-expanded="false"
    aria-controls="collapseTwo"
  >
    <span class="h5">Experience</span>
  </button>
</h2>
<div
  id="collapseTwo"
  class="accordion-collapse collapse"
  aria-labelledby="headingTwo"
  data-bs-parent="#accordionExample"
>
  <div class="accordion-body">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            <img
              class="exp-img me-2"
              src="https://raw.githubusercontent.com/carlohigue/AP-TPO-Front-End/main/src/logos/logo-atos.png"
              alt="Atos Logo"
            />
            <strong class="h5 m-expinfo">Atos Argentina</strong>
          </div>
          <div class="col text-end figure-caption">
            Support Engineer <br />
            03/2022 - Now
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            <img
              class="exp-img me-2"
              src="https://raw.githubusercontent.com/carlohigue/AP-TPO-Front-End/main/src/logos/logo-contactcom.png"
              alt="Atos Logo"
            />
            <strong class="h5 m-expinfo">Indicom S.A.</strong>
          </div>
          <div class="col text-end figure-caption">
            Tech Support Specialist <br />
            10/2019 - 03/2022
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            <img
              class="exp-img me-2"
              src="https://raw.githubusercontent.com/carlohigue/AP-TPO-Front-End/main/src/logos/logo-berlin.png"
              alt="Atos Logo"
            />
            <strong class="h5 m-expinfo">Berlin Exchange</strong>
          </div>
          <div class="col text-end figure-caption">
            Administrative Receptionist <br />
            10/2018 - 03/2019
          </div>
        </div>
      </li>
      <figure class="text-center mx-4 my-2">
        <blockquote class="blockquote">
          <p>
            You can help me enlarge this section, I'm eager to new experiences
            as Dev.
          </p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Your server <cite title="Source Title">Carlos Higuerey</cite>
        </figcaption>
      </figure>
    </ul>
  </div>
</div>
