<h2 class="accordion-header" id="headingThree">
  <button
    class="accordion-button collapsed"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#collapseThree"
    aria-expanded="false"
    aria-controls="collapseThree"
  >
    <span class="h5">Studies</span>
  </button>
</h2>
<div
  id="collapseThree"
  class="accordion-collapse collapse"
  aria-labelledby="headingThree"
  data-bs-parent="#accordionExample"
>
  <div class="accordion-body">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col text-center">
            <img
              class="std-img me-2"
              src="https://raw.githubusercontent.com/carlohigue/portafolio-FrontEnd/main/media/logo-ap.png"
              alt="Atos Logo"
            />
          </div>
          <div class="col text-end figure-caption">
            Argentina Programa <br />
            FullStack Web Developer <br />
            2022 - Now
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col text-center">
            <img
              class="std-img me-2"
              src="https://raw.githubusercontent.com/carlohigue/portafolio-FrontEnd/main/media/logo-cac.png"
              alt="Codo a Codo 4.0"
            />
          </div>
          <div class="col text-end figure-caption">
            Codo a Codo 4.0 <br />
            Python FullStack Web Dev <br />
            2021 - 2022
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col text-center">
            <img
              class="std-img me-2"
              src="https://raw.githubusercontent.com/carlohigue/portafolio-FrontEnd/main/media/logo-apv.png"
              alt="Atos Logo"
            />
          </div>
          <div class="col text-end figure-caption">
            Aprende Programando Virtual <br />
            Web Development Fundamentals <br />
            2020 - 2021
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col text-center">
            <img
              class="std-img me-2"
              src="https://raw.githubusercontent.com/carlohigue/portafolio-FrontEnd/main/media/logo-usb.png"
              alt="Universidad Simón Bolivar de Venezuela"
            />
          </div>
          <div class="col text-end figure-caption">
            "University Simón Bolivar" <br />
            Electronic Engineering <br />
            2015 - 2018
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
