

body{
    background: rgb(255, 255, 255);
    min-height: 100vh;
}

a{
    background-color: rgba(0, 0, 0, 0) !important;
}

app-content{
    min-height: 110vh;
}

footer{
    margin-top: 200px;
}

.by-ch{
    font-size: 60%;
    align-self: flex-end;
}

* {
    margin:0;
    padding:0;
    gap: 0;
    box-sizing:border-box;
}

.social-svg{
    fill:rgb(255, 255, 255);
    margin: 10px;
    position: relative;
    right: 50px;
}

.ico-social-svg{
    width: 30px;
}

.exp-img{
    width: 50px;
    height: 50px;
}


.std-img{
    width: 60%;
}

.logo-tech{
    height: 20vh;
    width: 5vw;
    margin: 10px;
}

.lead{
    font-size: 1.3vw;
}

.tech-font{
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}

.mycontent{
    min-height: 120vh;
}


@media (max-width: 760px) {
    *{
        font-size: 96%;
    }

    footer{
        display: none;
    }

    button{
        font-size: 20px;
    }

    .content{
        flex-direction: column;
        height: auto;
    }

    .ap-logo{
        display: none;
    }

    .info{
        margin-left: 0;
        padding: 0;
    }

    .m-navlink{
        font-size: 95%;
    }

    .m-navico{
        font-size: 90%;
    }

    .by-ch{
        font-size: 60%;
    }

    .m-content{
        min-height: 100vh;
        padding-bottom: 60vh;
    }

    .m-button{
        font-size: 98%;
    }

    .m-expinfo{
        font-size: 7.5px;
        font-weight: bold;
    }

    .lead{
        font-size: 120%;
    }
    .logo-tech{
        width: 80%;
    }
}
