<h2 class="accordion-header h2" id="headingOne">
    <button
      class="accordion-button"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseOne"
      aria-expanded="true"
      aria-controls="collapseOne"
    >
      <span>Who I am</span>
    </button>
  </h2>
  <div
    id="collapseOne"
    class="accordion-collapse collapse show"
    aria-labelledby="headingOne"
    data-bs-parent="#accordionExample"
  >
    <div class="accordion-body justify-text">
      <strong>Carlos Higuerey</strong> Junior Web Developer, former student
      of Electronic Engineering at Simón Bolívar University of Venezuela.
      With expertise in the area of technology and support, I'm looking to
      grow and form myself in the IT development area. It's my ambition to
      become a software developer, thus my effort on learning to put my
      skills in practice, to sherpen the tools I got and to find myself in
      the branch of technology I always desired.
    </div>
  </div>
